footer .container {
    text-align: center;
}

footer {
    padding: 50px 0;
}

#page-header {
    text-align: center;
}

.page-header {
    margin-bottom: 0;
}
.navbar {
    margin-bottom: 0;
}

#game-area {
    height: 80vh;
    position: relative;
}

#game-area img {
    width: 15%;
    border-radius: 50%;
    position: absolute;
}


@media (max-width: 568px) {
    #game-area img {
        width: 25%;
    }
}
